body {
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(https://barotraumagame.com/baro-wiki/skins/DarkVectorBaro/images/wiki-background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: rgba(228, 217, 167, 1);
    /* color: rgba(173, 212, 186, 1); */
}

header,
footer {
    text-align: center;
}

main {
    padding-inline: 1svw;
}

#introduction,
#tutorial * {
    margin-block: 4px;
}

#textpanel {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 360px;
}

#inputpanel {
    display: grid;
    /* grid-template-rows: 10% 10% 80%; */
    grid-template-rows: 10% 90%;
    padding: 4px;
}

/* #inputpanel>input {
    padding: 4px;
    background-color: rgba(0, 139, 139, 0.5);
} */

#outputpanel {
    display: grid;
    grid-template-rows: 10% 90%;
    padding: 4px;
}

#inputpanel label,
#outputpanel label {
    padding: 4px;
}

#input,
#output {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "consolas";
    resize: none;
}

#controlpanel {
    text-align: right;
}

#parse,
#clear,
#save {
    width: 50px;
}

a:link {
    color: white;
}

a:visited {
    color: lightgray;
}